{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col my-auto text-center">
                <h1 class="display-4">
                    Witness The Fitness!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="join-btn btn btn-lg rounded-0 text-uppercase py-3">Sign Up</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}